<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>DIDOK public transport stop comparison</title>

    <link rel="stylesheet" href="media/static/css/leaflet.css" />
    <link rel="stylesheet" href="media/static/css/leaflet.label.css" />

    <link rel="stylesheet" type="text/css" href="media/static/css/map.css">

    <script src="media/static/js/leaflet-src.js"></script>
    <script src="media/static/js/leaflet.label.js"></script>

    <script src="media/static/js/jquery-1.10.2.min.js"></script>

    <script src="media/static/js/slider-min.js"></script>
    
    <script src="media/static/js/wgs84_ch1903.js"></script>

    <script src="media/static/js/Map.js"></script>

</head>

<!--#config timefmt="%d %b %Y" -->

<body id="world" onload="initMap();">

    <div id="map">This map needs Javascript.</div>

    <div id="slider"><div id="sliderbg">
        <div id="sliderthumb"><img src="media/static/img/sliderknob.png" alt="transparency slider" /></div>
      </div></div>

    <div id="map_header">
        <h1>DIDOK Stops compared to OSM</h1>
            <a href="http://wiki.openstreetmap.org/wiki/EN:Switzerland/DIDOK">More information on DIDOK</a> |
            <a href="http://wiki.openstreetmap.org/wiki/Switzerland/DIDOK/Maintenance_Howto">How to use this map</a> |
            <a href="didokstops/statistiken.html">Statistics</a>
    </div>
    <div id="map_subheader">
        last update: {{ dataTime }} UTC
    </div>
    <div id="map_shr">
            Map data by <a href="http://www.openstreetmap.org">OpenStreetMap</a> and Contributors
            (Tiles <a href="http://www.openstreetmap.org/copyright">CC-by-SA</a>, Data <a href="http://opendatacommons.org/licenses/odbl/">ODbL</a>), 
            DIDOK-stops from <a href="http://www.bav.admin.ch/dokumentation/publikationen/00475/01497/index.html">BAV</a>
     </div>

    <div id="map_footer">
    <div id="map_footer_inner">coordinates in 21781: </div>
    <div id="map_footer_21781"></div>
    <div id="map_footer_inner">coordinates in WGS84: </div>
    <div id="map_footer_wgs84"></div>
    <div id="map_footer_permalink"></div>
    </div>
    </div>

    <div id="routeview" class="closedsidebar">
      <a id="routeselector" href="javascript:toggleLegendeView()">Legend</a>
      <div id="routecontent">

This Page serves the comparison of public transport stops in OSM and DIDOK, and the improvement of OSM data.
More Information can be found in the <a href="http://wiki.openstreetmap.org/wiki/Switzerland/DIDOK/Maintenance_Howto">OSM Wiki</a>.

<h2>Relation of OSM data to DIDOK</h2>
<p>The color of the dots shows the relationship of DIDOK and OSM-stops:
<table>
<tr><td><img src="media/static/img/black_point.png"></td>
    <td>DIDOK-stop for which a matching OSM stop exists</td></tr>
<tr><td><img src="media/static/img/red_point.png"></td>
    <td>DIDOK-stop without a counterpart in OSM</td></tr>
<tr><td><img src="media/static/img/yellow_point.png"></td>
    <td>DIDOK-stop which was marked as inexistent (e.g. stops that do not exist anymore or stops that are not yet buildt)</td></tr>
<tr><td><img src="media/static/img/blue_point.png"></td>
    <td>OSM-stop without a corresponding DIDOK entry</td></tr>
<tr><td><img src="media/static/img/green_point.png"></td>
    <td>OSM-stop with a corresponding DIDOK-stop. The line shows the correspondance</td></tr>
</table>
<p>If the overlay "survey state of nodes" is enabled, rings around the OSM stops show the survey status</p>
<table>
<tr><td><img src="media/static/img/survey_red.png"></td>
    <td>Stops that were not resurveyed yet</td></tr>
<tr><td><img src="media/static/img/survey_orange.png"></td>
    <td>Stops that existed before the import, but were not resurveyed since</td></tr>
<tr><td><img src="media/static/img/survey_green.png"></td>
    <td>Stops which were altered after since the import (and hopefully checked)</td></tr>
</table>
<h2>Overview</h2>
<p>If too many stops are on the map, they will be replaced by a placeholder:</p>
<table>
<tr><td><img src="media/static/img/cluster.png"></td>
    <td>There are stops in this area. Please zoom in to see them.</td></tr>
</table>

      </div>
    </div>

</body>

</html>

