<html><head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Search results</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/standard.css">
  </head>
  <body>
    <form id="search" action="search">
      <input id="searchfield" name="search" placeholder="search stops" title="search for station names, osm IDs or uic numbers" type="search">
      <input id="searchbutton" value="Search" type="submit">
    </form>
    <h1>Results from OpenStreetMap</h1>
    <ul>
{% for line in osm %}
      <li><a href="/?osm={{line.id}}#16:{{line.location.y}}:{{line.location.x}}">{{line.name}} {{line.id}} </a></li>
{% endfor %}
    </ul>
    <h1>Results from DIDOK</h1>
    <ul>
{% for line in didok %}
      <li><a href="/?uic={{line.id}}#16:{{line.location.y}}:{{line.location.x}}">{{line.name}} {{line.id}} </a></li>
{% endfor %}
    </ul>
  </body>
</html>
