<html>
<head><title>DIDOK Haltestelle</title></head>
<body>
<div class=" dllist">
{% if not object.existent %}
<div class='dlline'>
	<span class='dlitem'><emph>This stop is marked as invalid!</emph></span>
</div>
{% endif %}
<div class='dlline'>
    <span class='dlitem'>UIC:</span>
    <span class='dldef'>{{object.dstnr}}</span>
</div>
<div class='dlline'>
    <span class='dlitem'>name:</span>
    <span class='dldef'>{{object.name}}</span>
</div>
<div class='dlline'>
    <span class='dlitem'>long name:</span>
    <span class='dldef'>{{object.lname}}</span>
</div>
<div class='dlline'>
    <span class='dlitem'>additional info:</span>
    <span class='dldef'>{{object.bezeichnung}}</span>
</div>
<div class='dlline'>
    <span class='dlitem'>transport type:</span>
    <span class='dldef'>{{object.verkehrsmittel}}</span>
</div>
<div class='dlline'>
    <span class='dlitem'>height:</span>
    <span class='dldef'>{{object.hoehe}}</span>
</div>
<div class='dlline'>
    <span class='dlitem'>railway:ref:</span>
    <span class='dldef'>{{object.railway_ref}}</span>
</div>
<div class='dlline'>
    <span class='dlitem'>Betreiber abk. (D/F/I):</span>
    <span class='dldef'>{{object.goabk_d}}/{{object.goabk_f}}/{{object.goabk_i}}</span>
</div>
</div>

<p>
{% if object.connected_with %}
<h2>Verbunden mit:</h2>
<div class=" dllist">
{% for id, name in object.connected_with %}
<div class='dlline'>
{% comment %}  <form action="" onsubmit="return stopDisconnect('{{id}}', '{{object.dstnr}}',this);">{{name}} <input type="image" src="{{ MEDIA_URL }}js/theme/default/img/close.gif"></form></span>{% endcomment %}
<a href="http://www.openstreetmap.org/browse/node/{{id}}">{{name}} ({{id}})</a>
</div>
{% endfor %}
</div>
{% else %}
<div id="mark_{{object.id}}">
{% if object.existent %}
<button type="button" onclick="didok_invalidate({{object.id}})">Mark Stop as invalid</button>
{% else %}
<button type="button" onclick="didok_revalidate({{object.id}})">Mark Stop as valid</button>
{% endif %}
<a target="_blank" href="http://127.0.0.1:8111/import?url={{ request.build_absolute_uri }}.osm">import into josm</a>
</div>
{% endif %}
<p>



</body>
<html>
